.services-wrapper {
  /* opacity: 0; */

  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.service-text-area {
  z-index: 1;

  height: 100%;
  position: absolute;
  text-align: left;
  display: flex;
  align-items: flex-end;
  @media (max-width:750px) {
  }
}

.service-text-box {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  max-width: 40%;
  padding: 10px;
  @media (max-width:750px) {
    max-width: 90vw;
    max-height: 40vh;
    overflow-y: scroll;
  }
}

.service-section {
  /* display: flex; */
  /* align-items: center; */
}

.stage-wrapper {
  width: 100%;
  max-width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);
  padding-right: 10%;
}

.service-header {
  font-size: 26px;
  text-align: left;
  @media (max-width:750px) {
    font-size: 18px;
  }
}

.service-description h3 {
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 800;
}
.service-description p {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 10px;
  @media (max-width:750px) {
    font-size: 14px;
  }
  /* padding-left: 20px; */
}

.white-background {
  height: 50px;
  background-color: white;
}

.button-wrp{
    position: relative !important;
}